@import '../variables.css';
@import '../helpers.css';

.main {
    padding: 40px 10px 0 10px;
}

.main__section {
    display: grid;
    margin-bottom: 50px;
}

.main__section:last-child {
    margin-bottom: 40px;
}

.section__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    color: var(--accent-color);
    margin-bottom: 20px;
}

.section__article:not(:last-child) {
    margin-bottom: 20px;
}

.section__article-title {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.4px;
    margin-bottom: 10px;
}

.mg-20 {
    margin-bottom: 20px;
}

.section__article-text {
    font-size: 18px;
    /* line-height: 1.28rem; */
    line-height: 23.4px;
    font-weight: 400;
    color: var(--primary-text-color);
}

.section__article-link {
    text-shadow: 2px 2px 0px var(--accent-color);
}

.sub-article_title {
    font-weight: 400;
}

.gallery {
    margin-top: 30px;
}

.gallery__wrapper {
    display: grid;
    row-gap: 10px;
}

.gallery__item {
    width: 100%;
}

@media ( 768px <= width ) {
    .gallery {
        grid-column-start: 1 !important;
        grid-column-end: 4 !important;
    }

    .gallery__wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .gallery__wrapper img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    .gallery__wrapper img:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .gallery__wrapper img:nth-child(2) {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .gallery__wrapper img:nth-child(3) {
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .gallery__wrapper img:nth-child(5) {
        grid-column-start: 2;
        grid-column-end: 4;
    }
}

@media ( 768px <= width < 1024px ) {
    .main {
        padding: 60px 20px 0 20px;
    }

    .main__section {
        margin-bottom: 80px;
    }

    .two-col {
        grid-template-columns: 236px 1fr;
        column-gap: 10px;
    }

    .two-col .section__article {
        grid-column-start: 3;
    }

    .three-col {
        grid-template-columns: 1fr;
    }

    .three-col .section__title {
        max-width: 150px;
    }

    .gallery {
        margin-top: 60px;
    }

    .gallery__wrapper {
        padding-top: 10px;
    }

    .main__section:last-child {
        margin-bottom: 60px;
    }
}

@media ( 1024px <= width ) {
    .main {
        padding: 60px 20px 0 20px;
    }

    .main__section {
        margin-bottom: 80px;
    }

    .gallery {
        margin-top: 60px;
    }

    .gallery__wrapper {
        padding-top: 10px;
    }

    .two-col {
        grid-template-columns: 315px 1fr;
        column-gap: 10px;
    }

    .two-col .section__article {
        grid-column-start: 3;
    }

    .section__title {
        padding-right: 0 !important;
    }

    .three-col {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 60px 1fr;
        column-gap: 20px;
    }
    .three-col .section__title {
        margin-bottom: 20px;
    }

    .three-col .section__article {
        grid-row-start: 2;
    }
}
