.footer {
    width: 100%;
    min-height: 100vh;
    display: grid;
    padding: 10px;
}

.footer__text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    font-weight: 700;
    line-height: 82.5%;
    color: var(--title-color);
    align-self: center;
    text-align: center;
    text-shadow: 2px 2px 0px var(--accent-color);
}

@media (768px <= width ) {
    .footer {
        padding: 45px 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    .footer__text {
        font-size: 157px;
    }

    .footer.decorated-zone::after {
        grid-row-start: 3;
    }
}
