
.page.theme_dark {
  --primary-color: #000028;
  --accent-color: #FF0070;

  /* text-color */
  --menu-text-color: #FF0070;
  --primary-text-color: #F1B2CE;
  --title-color: #DB00FF;
  --section-title-color: #FF0070;
  --menu-hover: rgba(255, 0, 112, 0.4);

  /* helpers */
  --title-decor: #000028;

  /* background-image */
  --background-img: url('../../images/cover-image-dark.png') center no-repeat;
}


@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #000028;
    --accent-color: #FF0070;

    /* text-color */
    --menu-text-color: #FF0070;
    --primary-text-color: #F1B2CE;
    --title-color: #DB00FF;
    --section-title-color: #FF0070;
    --menu-hover: rgba(255, 0, 112, 0.4);

    /* helpers */
    --title-decor: #000028;

    /* background-image */
    --background-img: url('../../images/cover-image-dark.png') center no-repeat;
  }
}
