@import './header/header.css';
@import './main/main.css';
@import './footer/footer.css';
/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background: var(--background-img);
  background-size: cover;
  background-attachment: fixed;
  /* dafault font */
  font-family: "IBM Plex Mono";
  font-weight: normal;
  line-height: 130%;
  /* default font-size */
  font-size: 18px;
}
