/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  /* colors */
  --primary-color: #000028;
  --accent-color: #FF0070;

  /* text-color */
  --menu-text-color: #FF0070;
  --primary-text-color: #F1B2CE;
  --title-color: #DB00FF;

  /* helpers */
  --title-decor: #000028;

  /* background-image */
  --background-img: url('../../images/cover-image-dark.png') center no-repeat;
}
